<div class="push bg"></div>
<footer class="footer-2" id="content-info">
  <div class="footer-inner">

  <h2 id="get-involved" style="color:white;">Get Involved</h2>

    <div class="row" style="padding:3em 0 3em 0;">
      <div class="column-2-wide">
        <img src="/assets/img/adk-farmers.jpeg" class="book-cover" style="border-radius:4px;">
      </div>
      <div class="column-2-wide">
      <br />
        <h4 style="color:#f7f7f7">Sign up to host a screening, join your local food movement, find lists of your local farm groups & CSAs or support small farms and sustainable agriculture groups in your community.</h4>
<br />
        <a href="mailto:sarah@tealeproductionsinc.com"><button>Contact</button></a>
      </div>
    </div>
  </div>

{% comment %}
{% for note in site.data.notes limit: 1 %}
  {% if note.copy %}
  <hr />
    <p class="lead centered">{{ note.copy }}</p>
  <hr style="margin-top:4em;" />
  {% endif %}
{% endfor %}
{% endcomment %}


    <ul class="no-bullet">
      <li class="source-org vcarfd copyright">
        <a href="{{site.url}}"><span class="org fn">{{site.sitename}}</span></a>
      </li>
      <li><a href="http://sonnetmedia.net">site by sonnet media</a></li>
    </ul>

</footer>
{% if page.background_image %}
	<img src="/assets/img/{{page.background_image}}" class="bg">
{% endif %}
<!-- /footer -->