<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">

<h1>Grazers: A Cooperative Story</h1>

<div class="column-2-wideTJ" style="width:853px;margin:4em auto;">
<p class="lead">
  An intimate chronicle of the group's struggle and illuminates timely issues regarding our food system: What is the true value of small farms? Can they realistically compete against an industrialized food system? Can the members survive their first year? At stake are their farms, around them, the health of the land and a way of life.

</p>

    <!-- <button style="margin-right:3em;">Read More</button><button>Buy</button> -->
</div>
<!-- <div class="column-2-wide" style="width:45%;float:left;margin-top:8em;">

<ul class="list-presentational">
  <li>
    <a href="">
    Publication Date, February 2015
    </a>
  </li>
  <li>
    <a href="">
    Example News & Events Items
    </a>
  </li>
  <li>
    <a href="">
    Reading at Book Court, Nov 5th
    </a>
  </li>
</ul>
</div> -->


    </div>

  </div>
</div>
