<header class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="">
    </a>
    <a href="" class="centered-navigation-menu-button">MENU</a>

    <ul class="centered-navigation-menu">



      <!-- <li class="nav-link"><a href="/" style="font-size:2.1em;">Grazers</a></li> -->
      <li class="nav-link"><a href="#trailer">Trailer</a></li>


      <li class="nav-link"><a href="#about">About the Film</a></li>
      <li class="nav-link"><a href="#supporters">Supporters</a></li>
      <li class="nav-link"><a href="#get-involved">Get Involved</a></li>
    </ul>
  </div>
</header>
