---
---

@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import "libs/normalize";
@import "libs/bourbon/bourbon";
@import "base/base";
@import "libs/neat/neat";


// BASIC MODULES
@import "modules/img-background";
@import "modules/footer";
@import "modules/nav-top";
@import "modules/hero";
@import "modules/layouts";
@import "modules/quotes";


embed {
  max-width: 100%;
}

body {
//  background-image: url(/assets/img/bg-sea.jpg);
  background-image: url(/assets/img/grass-fed-beef-new-york-hillside-1600x965.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

body.home {
  background-image:none;
  text-align: center;
}



article.hentry, body.home section {
background-color: white;

}


.row2 {

  min-height: 300px;
  //background:url(/assets/img/bg-sea.jpg);
  background-image: url(/assets/img/grass-fed-beef-new-york-hillside-1600x965.jpg);
  background-position: center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.row3 {
  padding: 4em 0;
  min-height: 300px;
  // background:url(/assets/img/bg-sea-bw.jpg);
  // background-position: center center;
  // background-repeat:no-repeat;
  // background-attachment:fixed;
}

.row4 {
  min-height: 300px;
  //background:url(/assets/img/bg-sea.jpg);
  background-image: url(/assets/img/DanandtheGirls-1585x776.jpg);
  background-position: center top;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.lead {
  font-size: 1.5em;
}

.trailer {
  @include animation(fade 30.0s ease-in, slide 2.0s ease);
}

.centered {
  max-width: 100%;
  width: 100%;

    @include media($normal-screen-up) {
    width: 80%;
    margin: auto;
  }
}

ul.list-presentational li a {
  text-shadow: 1px 1px 0 #444;
}

.supporters {
  width:100%;
  height:825px;
margin:auto;
    @include media($normal-screen-up) {

      img {
        float: left;
        width:100%;
        max-width: 650px;
      }

      img.first {
        margin-left: 20px
      }


width:1320px;
height:425px;
overflow:hidden;
max-width:1400px;

}
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

}
