---
layout: default
section: page
class: home
---
{% if  page.youtube %}
  <section style="margin:3em auto 5em auto;">
    <div class="trailer">
      <h2 id="trailer">Trailer</h2>
      <iframe style="max-width:96%;" width="853" height="480" src="//www.youtube.com/embed/{{ page.youtube }}?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
  <section class="row2"></section>
{% elsif page.vimeo %}
  <section style="margin:3em auto 5em auto;">
    <div class="trailer">
      <h2 id="trailer">Trailer</h2>
      <iframe src="//player.vimeo.com/video/{{ page.vimeo }}?title=0&amp;byline=0&amp;portrait=0" width="850" height="478" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </section>
  <section class="row2"></section>
{% endif %}
<section class="row3">
  <div style="width:60%;margin:auto;">
    <h2 id="about">About the Film</h2>
    <div class="lead">{{content}}</div>
  </div>
</section>
<section class="row4"></section>
<section class="row3">
  <div class="supporters">
    <h2 id="supporters">Supporters</h2>
    <img src="/assets/img/supporters-1.png" class="first" style="max-width:46%;">
    <img src="/assets/img/supporters-2.png" style="max-width:46%;">
  </div>
</section>

